* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.sidebar-header {
  background-color: #ededed;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.sidebar-icon {
  color: #7f868a;
  font-size: 25px;
  margin: 10px;
  padding-left: 200px;
}
